<div id="planttest">
    <h2>Answer the following questions</h2>
    <div class="corner tl">
        <div class="a"></div>
        <div class="b"></div>
        <div class="c"></div>
    </div>
    <div class="corner tr">
        <div class="a"></div>
        <div class="b"></div>
        <div class="c"></div>
    </div>
    <div class="section_content">
        HEJ
    </div>

    <div id="choices">

            <h3 class="question">How light is the room?</h3>
                <input type="radio" name="sun" value="light" class="radioknapp"> Light<br>
                <input type="radio" name="sun" value="partial shade" class="radioknapp"> Partial Shade<br>
                <input type="radio" name="sun" value="dark" id="radioknapp"> Dark

            <h3 class="question">Do you often forget to water your plants?</h3>
                <input type="radio" name="water" value="dry" class="radioknapp"> Yes<br>
                <input type="radio" name="water" value="mesic" class="radioknapp"> No


            <h3 class="question">Do you want to keep it inside?</h3>
                <input type="radio" name="houseplant" value="yes" class="radioknapp"> Yes<br>
                <input type="radio" name="houseplant" value="no" class="radioknapp"> No


            <h3 class="question">Do you wish it to be easy or hard to take care of?</h3>
                <input type="radio" name="difficulty" value="hard" class="radioknapp"> Hard<br>
                <input type="radio" name="difficulty" value="medium" class="radioknapp"> Medium<br>
                <input type="radio" name="difficulty" value="easy" class="radioknapp"> Easy
            <br>
            <br>
            <input type="submit" value ="Submit" id="submitbutton">
    </div>

    <div class="corner bl">
        <div class="a"></div>
        <div class="c"></div>
        <div class="b"></div>
    </div>
    <div class="corner br">
        <div class="a"></div>
        <div class="c"></div>
        <div class="b"></div>
    </div>
</div>