<div class="main-header">
    <h1>PlantID</h1>
    <img src="images/kaktus.png" id="kaktus">
    <h2>Find the right one</h2>
</div>


<div id="planttest">
    <h2>Answer the following questions</h2>
    <form id="choices">
        <h3>Sun</h3>
        <select sun="sun">
            <option value="light">Light</option>
            <option value="partialShade">Partial Shade</option>
            <option value="dark">Dark</option>
        </select>

        <h3>Water</h3>
        <select water="water">
            <option value="dry">Dry</option>
            <option value="Mesic">Mesic</option>
        </select>

        <h3>Houseplant</h3>
        <select houseplant="houseplant">
            <option value="yes">Yes</option>
            <option value="no">No</option>
        </select>

        <h3>Difficulty</h3>
        <select difficulty="difficulty">
            <option value="hard">hard</option>
            <option value="easy">easy</option>
        </select>
        <br>
        <br>
        <input type="submit" value="Submit" id="submitbutton">
    </form>
</div>

