<div class="main-header">
    <h1>PlantID</h1>
    <img src="images/Piranhacus.gif" id="kaktus">
    <img src="images/Piranhacus.gif" id="kaktus">
    <img src="images/Piranhacus.gif" id="kaktus">
    <h2>Find the right one</h2>
</div>


