<div class="main-header">
    <h1>PlantID</h1>
    <img src="images/piranhabite.gif" id="kaktus">
    <img src="images/succulent.gif" id="succulent">
    <img src="images/piranhabite.gif" id="kaktus2">
    <h2>Find the right one</h2>
</div>


