<div id="visaresult">
    <% plants.forEach(function(plant){ %>
    <h1><%= plant.name %></h1>
    <h2><%= plant.latin %></h2>
    <h3><%= plant.description %></h3>
    <div id="pictures">
        <img src="images/pixelplant.png" id="pixelplant">
        <img src="images/pixelplant.png" id="pixelplant">
        <img src="images/pixelplant.png" id="pixelplant">
    </div>
    <% }); %>
</div>

 <div id="return">
     <input type="submit" value ="TRY AGAIN" id="returnbutton">
 </div>
