<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> PlantID </title>
    <link href="https://fonts.googleapis.com/css?family=Coiny" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
    <script type="text/javascript"src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="javascripts/ejs.min.js"></script>
    <script type="text/javascript" src="javascripts/script.js"></script>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <%- include('../partials/body.ejs') %>



</body>
</html>


